
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
// $bgGradColor: #c8e6c9;
// $bgGradColor: #CFFAB0;
// $bgGradColor: #DEFFDC;
// $bgGradColor: #F0FFEF;
// $bgGradColor: #E8FFE6;
$bgGradColor: #E4FFE1;
// $bgGradColor: #ffffff; // to effectively have no bg gradients

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
